#output {
  display: none;
}

.jumbotron {
  text-align: center;
  background-image: url('https://i.ytimg.com/vi/rpWrtXyEAN0/maxresdefault.jpg');
  text-shadow: black;

}
#numbers {
  text-align: center;
}
body {
 background-color: #063015;
}

#textLabel {
  color: white;
}
