#output {
  display: none;
}

.jumbotron {
  text-align: center;
  background-image: url('https://i.ytimg.com/vi/rpWrtXyEAN0/maxresdefault.jpg');
}
#inputGroup {
  text-align: center;
}
body {
 background-color: #063015;
}

#numberLabel {
  color: white;
}

#nameLabel {
  color: white;
}

h1 {
  color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
}
